*{
    line-height: 1.5;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #9be4bf;
}

img{
    width: 300px;
    height: 300px;
}

ul{
    list-style: none;

}

h1{
    color: #d31a86;
}

.main-container{
    background-color:#e692d1;
    text-align: center;
    border: 2px solid rgba(255, 0, 157, 0.644);
}


.nav-recipes ul{
    padding: 10px;
    margin: 10px;
}

.nav-recipes a{
    text-decoration: none;
    color: #690c64;
}

.recipe-card{
    width: 500px;
    background-color: #e692d1;
    text-align: center;
    color: #330652;
}

.recipe-content {
    text-align: left;
}

.recipe-card h2, .recipe-card a {
    text-transform: uppercase;
}

.recipe-card.feature {
    border: 2px solid rgba(255, 0, 157, 0.644);
}

ul li h2 {
    font-size: 16px;
}

.recipe-card a{
    background-color: #418034;
    color: #97104f;
    text-decoration: none;
}